body {
    height: 45em;
    /* border: 3px solid red; */
    display: flex;
}
.container {
    /* border: 2px solid yellowgreen; */
    width: 100%;
    height: 100%;
    display: flex;
}

.form-container {
    padding: 6rem 1rem 0rem 1rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.side-pic {
    min-width: 35%;
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
   
}
.img {
    min-width: 100%;
    height: 100%;
    background-image: url(./jon-moore-_2MyZDsUSM4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}

/* Figure out how to do that and keep the form inside it's container */
/* .fieldset {
    display: flex;
} */