body {
    height: 100vh;
    /* border: 3px solid red; */
    display: flex;
    background-color: #acc6ac;
}
header {
    width: 11rem;
}
.container {
    /* border: 2px solid yellowgreen; */
    width: 100%;
    height: 100%;
    display: flex;
}

.form-container {
    padding: 5rem 6rem 0rem 3rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 3rem;
    
}

.side-pic {
    min-width: 35%;
    height: 100%;
    /* border: 2px solid rgb(0, 0, 0); */
   
}
.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    min-width: 100%;
    height: 100%;
    background-image: url(./akira-hojo-ZxGdri2EWzk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}
legend {
    margin-bottom: .5rem;
}

form {
    display: flex;
    flex-direction: column;
}
 
.required {
    color: rgb(186, 0, 0);
}
input {
    height: 1.3rem;
    margin: 0.1rem 0rem 0.8rem;
    border-radius: 20px;
} input:user-invalid {
    box-shadow:inset  -1px 1px 1px 1px rgb(255, 0, 0);
} input:user-valid {
   box-shadow: inset -1px 1px 1px 1px #5dcf5d;
} input:optional {
    box-shadow: inset -1px 1px 1px 1px rgb(0, 140, 255);
}


.submit {
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #dcffdc;
    width: 11rem;
} .submit:hover {
    background-color: #5dcf5d;
}

@media screen and (min-width: 670px) {
    body {
        display: flex;
    }
    .form-container {
        width: 21rem;
        padding: 5rem 6rem 0rem 3rem;
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 3rem;
        
    }
}

@media screen and (min-width: 900px) {
    body {
        display: flex;
        overflow: hidden;
        font-size: 25px;
    }
    header {
        width: 50%;
        
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .form-container {
        width: 100%;
        margin-left: 5rem;
        /* padding: 5rem 6rem 0rem 3rem; */
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 5rem;
        
     } 
     fieldset {
        display: flex;
        flex-direction: column;
     }

     input {
        margin: 0.2rem 5rem 0rem -0.5rem;
        width: 15rem;
        height: 1.5rem;
        gap: 1px;
     }

     .first-row, .second-row, .third-row {
        padding: 0rem 25rem 0rem 1rem;
        margin: 0rem 0rem 0rem -1rem;
     }
     .input-row {
        display: flex;   
     }
     ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
     }
     .submit {
        margin-top: 3rem;
        font-size: 1em;
        height: 2rem;
     }
}